@import "src/styles/scaffold";

.scanner {
  position: relative;
  height: 100%;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrapper {
      height: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 768px;

    @media only screen and (min-width: 2000px) {
      height: 1200px;
    }

    @media only screen and (min-width: 1800px) {
      height: 1000px;
    }

    @media only screen and (max-width: 960px) {
      height: 646px;
    }

    >div {
      height: 100%;
    }

    [data-store-skeleton-element] {
      width: 100%;
      height: 100%;
      padding: 8px;

      [data-skeleton-element-content] {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.scanner-cta {
  position: absolute;
  top: 50%;
  right: 6%;
  width: 100%;
  max-width: 424px;
  padding: var(--space-7) var(--space-7) var(--space-6) var(--space-7);
  background: linear-gradient(180deg, #f9f3f3 0%, #f9d4c1 100%);
  border-radius: var(--border-radius-regular);
  transform: translateY(-50%);

  @media (max-width: 724px) {
    top: auto;
    right: 50%;
    bottom: 0;
    padding: var(--space-4) var(--space-4) var(--space-4) var(--space-4);
    border-radius: var(--border-radius-regular) var(--border-radius-regular) 0 0;
    transform: translateX(50%);
  }

  &__title {
    margin-bottom: var(--space-3);
    font-size: var(--text-size-4);
    font-weight: var(--text-weight-bold);
    font-feature-settings: "tnum" on, "lnum" on;
    line-height: 1.1;
    color: var(--color-neutral-8);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    @media (max-width: 724px) {
      margin-bottom: var(--space-2);
      font-size: var(--text-size-3);
    }
  }

  &__msg {
    padding: 0 var(--space-3);
    margin-bottom: var(--space-5);
    font-size: var(--text-size-2);
    line-height: 24px;
    color: var(--color-neutral-7);
    text-align: center;
    letter-spacing: 0.256px;

    @media (max-width: 724px) {
      padding: 0;
      margin-bottom: var(--space-4);
      font-size: var(--text-size-1);
    }
  }
}
