.scanner-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 308px;
  height: 63px;
  margin: var(--space-5) 0;
  border-top: 1px solid var(--color-neutral-3);
  border-bottom: 1px solid var(--color-neutral-3);

  @include media("<=notebook") {
    max-width: unset;
  }

  p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: var(--color-secondary-3);
    letter-spacing: -0.02em;
  }

  span {
    font-size: 13px;
    font-weight: 400;
    color: var(--color-neutral-6);
    letter-spacing: 0.01em;
  }

  [data-store-button] {
    --tap-min-size: 38px;

    max-width: 38px;
    cursor: pointer;
    background-color: var(--color-tertiary-3);
  }
}
