.order-summary[data-order-summary] {
  padding: var(--space-3);

  li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    line-height: 1.5;

    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 174.1%;
      color: var(--color-neutral-6);
      letter-spacing: 0.01em;
    }

    [data-order-summary-price] {
      font-size: 16px;
      font-weight: 700;
      line-height: 174.1%;
      color: var(--color-neutral-7);
      letter-spacing: 0.01em;
    }

    &:last-of-type {
      padding-bottom: 19px;
    }

    &[data-order-summary-total] {
      padding-top: 12px;
      border-top: 1px solid #e3e3e3;
    }
  }
}
