@import "src/styles/scaffold";

.banner-and-shelf {
  display: flex;

  &__banner-wrapper {
    margin-right: 24px;
  }

  &__banner {
    width: 100%;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
  }
}
