@import "src/styles/scaffold";

.filter-button-container {
  display: flex;
  gap: var(--space-1);
  justify-content: center;
  width: 100%;

  @include media("<=phone") {
    flex-direction: column;
  }
}

.hidden-filter {
  display: none;
}

.sort {
  .orderby-icon {
    left: var(--space-4);
  }

  svg:last-child {
    right: var(--space-4);
  }
}

#sort-select {
  box-sizing: border-box;
  width: 196px;
  max-width: 100%;
  height: 100%;
  padding-left: calc(var(--space-6) + 2px);
  font-size: var(--text-size-2);
  font-weight: var(--text-weight-regular);
  line-height: var(--text-size-3);
  color: var(--color-text-button);
  letter-spacing: -0.05em;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--color-border-search);

  @include media("<=phone") {
    width: 100%;
  }

  &:hover {
    background: transparent;
  }
}

[data-store-filter] {
  max-width: 1440px;
  padding: var(--space-7) var(--space-4);
  margin: 0 auto;
  border-radius: var(--border-radius-box);
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.filter-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 120px;

  .filter-item {
    &__title {
      font-size: var(--text-size-3);
      font-style: normal;
      font-weight: var(--text-weight-bold);
      line-height: var(--text-size-4);
      color: var(--color-neutral-4);
      letter-spacing: -0.05em;
    }

    &__values {
      display: flex;
      flex-wrap: wrap;
      row-gap: 13px;
      column-gap: 13px;
      margin-top: var(--space-2);
    }

    &__checkbox {
      width: 0;
      height: 0;
      opacity: 0;
    }

    &__value {
      box-sizing: border-box;
      min-width: 63px;
      padding: var(--space-1) var(--space-2);
      cursor: pointer;
      border: var(--border-width-0) solid var(--color-neutral-2);
      border-radius: var(--border-radius-pill);
      transition: all 0.3s ease-in-out;

      .value__text {
        display: block;
        width: 100%;
        font-size: var(--text-size-1);
        font-weight: var(--text-weight-regular);
        line-height: var(--text-size-3);
        color: var(--color-light-text);
        text-align: center;
        letter-spacing: -0.05em;
        cursor: pointer;
      }

      &:hover,
      &--selected {
        background: var(--color-primary-3);

        .value__text {
          color: var(--color-neutral-0);
        }
      }
    }
  }
}

.filter[data-store-filter] {
  > .title-small {
    display: flex;
    align-items: center;
    height: var(--product-listing-row-height);
    margin-bottom: var(--space-0);

    @include media("<notebook") {
      display: none;
    }
  }

  [data-store-accordion] {
    [data-store-list] {
      padding-bottom: var(--space-3);

      li:not(:last-child) {
        margin-bottom: var(--space-3);
      }
    }

    @include media(">=notebook") {
      border: 1px solid var(--color-border-display);
      border-radius: var(--border-radius-default);
    }
  }

  [data-accordion-item] [data-store-button] {
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-regular);
    line-height: 1.5;

    @include media(">=notebook") {
      font-size: var(--text-size-2);
      line-height: 1.25;
    }

    [data-store-icon] [data-icon] {
      display: none;
    }

    [data-store-icon] [data-icon="expanded"] {
      display: initial;
    }

    [data-store-icon] [data-icon="collapsed"] {
      display: initial;
    }
  }
}

.filter__item {
  display: flex;
  align-items: center;

  [data-store-checkbox] {
    flex-shrink: 0;
    width: rem(20px);
    height: rem(20px);
  }

  [data-store-label] {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: var(--space-1);
  }

  [data-store-badge] {
    margin-left: var(--space-1);
  }
}

.filter-modal__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filter-modal__button {
    margin-right: calc(-1 * var(--space-1));
  }
}

.filter-modal__body {
  --filter-footer-height: 80px;

  height: calc(100vh - var(--filter-footer-height));
  padding:
    var(--page-padding-phone) var(--page-padding-phone)
    calc(var(--filter-footer-height) + var(--space-3));
  overflow-y: auto;
}

.filter-modal__footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-3);
  background-color: var(--bg-neutral-lightest);
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);

  .button {
    &[data-button-variant="secondary"] {
      width: 40%;
      margin-right: var(--space-3);
    }

    &[data-button-variant="primary"] {
      width: 60%;
    }
  }
}
