@import "src/styles/scaffold";

.page__section-shelf {
  width: 100%;
}

.product-shelf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  margin: 72px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    width: 100%;
    max-width: var(--container-width);
    padding: 0;
    margin: 0 auto;
    overflow-x: scroll;
    list-style-type: none;

    @include media(">notebook") {
      padding: 0 var(--space-3);
    }
  }
}
