@import "src/styles/scaffold";

.banner-institutional {
  position: relative;
  margin-bottom: var(--space-7);
  height: 500px;

  @media only screen and (min-width: 1800px) {
    height: 700px;
  }

  @media only screen and (max-width: 560px) {
    height: 375px;
  }

  [data-store-banner],
  [data-banner-image],
  [data-store-skeleton-element],
  [data-skeleton-element-content] {
    height: 100%;
  }

  [data-skeleton-element-content]{
    &[data-element-variant=image]{
      border-radius: 0;
    }
  }

  [data-store-image]{
    object-fit: cover;
  }

  @include media("<tablet") {
    margin-bottom: var(--space-5);
  }
}

.BannerTextWrapper {
  position: absolute;
  top: 50%;
  right: 40px;
  max-width: 540px;
  transform: translateY(-50%);

  @include media("<tablet") {
    display: none;
  }
}

.BannerTitle {
  font-family: var(--heading-font);
  font-size: var(--text-size-6);
  font-weight: var(--text-weight-bold);
  line-height: var(--text-size-7);
  color: var(--color-neutral-7);
}

.BannerDescription {
  font-family: var(--body-font);
  font-size: var(--text-size-2);
  font-weight: var(--text-weight-regular);
  line-height: var(--text-size-4);
  color: var(--color-neutral-8);
}
