@import "src/styles/scaffold";

@mixin quantity-selector-focus-ring {
  @media not all and (min-resolution: 0.001dpcm) {
    // Target only Safari browsers
    @supports (-webkit-appearance: none) {
      // Use `focus` instead of `focus-visible` due to Safari's lack of support
      &:focus {
        outline: none;
        box-shadow: none;

        [data-store-icon] {
          @include focus-ring;

          background-color: #f6f5f8;
        }
      }
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;

    [data-store-icon] {
      @include focus-ring;

      background-color: #f6f5f8;
    }
  }
}

[data-store-quantity-selector] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 31px;
  background-color: var(--bg-neutral-lightest);
  border-radius: var(--border-radius-default);
  box-shadow: 0 0 0 var(--border-width-0) var(--color-neutral-3);
  transition: box-shadow 0.2s ease;

  [data-store-icon] {
    margin: 0;
    line-height: 0;
    color: var(--color-primary-3);
  }

  [data-quantity-selector-input] {
    width: 100%;
    height: 100%;
    padding: 0;
    color: var(--color-neutral-7);
    text-align: center;
    background-color: transparent;
    border-width: 0;

    &:focus {
      outline: 0;
    }
  }

  [data-quantity-selector-button] {
    width: 100%;
    min-width: 48px;
    height: 100%;
    min-height: 48px;
    padding: var(--space-0);
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-default);

    @include quantity-selector-focus-ring;

    [data-store-icon] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-default);
      transition: background-color 0.2s ease;
    }

    &:hover:not(:disabled) [data-store-icon] {
      background-color: #f6f5f8;
    }

    &:disabled {
      cursor: not-allowed;

      [data-store-icon] {
        color: var(--color-primary-3);
      }
    }
  }

  &:hover:not([data-store-quantity-selector="disabled"]) {
    box-shadow: 0 0 0 var(--border-width-1) var(--color-neutral-3);
  }
}

[data-store-quantity-selector="disabled"] {
  background-color: var(--bg-disabled);
  box-shadow: 0 0 0 var(--border-width-0) var(--bg-disabled);

  [data-quantity-selector-button]:hover [data-store-icon] {
    background-color: transparent;
  }
}

.quantity-selector {
  display: flex;
  align-items: center;
  margin-top: var(--space-3);

  &__label {
    margin-right: var(--space-2);
    font-size: 14px;
    color: var(--color-neutral-7);
    text-transform: uppercase;
  }

  [data-store-icon-button] {
    &:focus {
      background: none;
    }
  }
}
