@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url('../fonts/dm-sans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url('../fonts/dm-sans-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quiche Sans';
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url('../fonts/quiche-sans-bold.otf') format('opentype');
}
