// Output functions & mixins
@import "scaffold";

// Resets //////////////////////////
@import "resets/modern-normalize";
@import "resets/reset";

// Styles ///////////////////////////
@import "colors";
@import "typography";
@import "grid";

// Tokens ///////////////////////////

:root {
  // Colors /////////////////////////

  // Brand
  --color-primary-0: #b6c9c0;
  --color-primary-1: #9eb4aa;
  --color-primary-2: #7a9186;
  --color-primary-3: #576b62;

  --color-secondary-0: #f1e4d1;
  --color-secondary-1: #f1cdb7;
  --color-secondary-2: #f1b693;
  --color-secondary-3: #eba47a;

  --color-tertiary-0: #9a92dd;
  --color-tertiary-1: #7068b1;
  --color-tertiary-2: #423d6d;
  --color-tertiary-3: #2b2846;

  --color-neutral-0: #ffffff;
  --color-neutral-1: #f7f7f7;
  --color-neutral-2: #e0e0e0;
  --color-neutral-3: #bdbdbd;
  --color-neutral-4: #4f4f4f;
  --color-neutral-5: #7f7f7f;
  --color-neutral-6: #616161;
  --color-neutral-7: #242424;
  --color-neutral-8: #000000;
  --color-neutral-9: #7c7e80;

  // State
  --color-success: var(--color-primary-1);
  --color-success-dark: var(--color-primary-2);
  --color-warning: var(--color-secondary-1);
  --color-error: var(--color-secondary-0);

  // Customizable
  --color-text: var(--color-neutral-8);
  --color-text-inverse: var(--color-neutral-0);

  --bg-body: var(--color-neutral-0);
  --bg-primary-light: var(--color-primary-0);
  --bg-secondary-light: var(--color-secondary-0);
  --bg-neutral-light: var(--color-neutral-1);
  --bg-neutral-lightest: var(--color-neutral-0);
  --bg-secondary-dark: var(--color-secondary-4);

  // Typography /////////////////////

  // Family
  --body-font:
    "DM Sans",
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    sans-serif;
  --heading-font:
    "Quiche Sans",
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    sans-serif;

  // Base
  --base-font-size: 16px;
  --scale: 1.25;

  // Spacing ////////////////////////

  // Sizes
  --space-0: 0.25rem; //  4px
  --space-1: 0.5rem; //  8px
  --space-2: 0.75rem; // 12px
  --space-3: 1rem; // 16px
  --space-4: 1.5rem; // 24px
  --space-5: 2rem; // 32px
  --space-6: 2.5rem; // 40px
  --space-7: 3rem; // 48px
  --space-8: 3.5rem; // 56px
  --space-9: 4rem; // 64px
  --space-10: 4.5rem; // 72px
  --space-11: 5rem; // 80px
  --space-12: 5.5rem; // 88px
  --space-13: 6rem; // 96px

  // Paddings
  --page-padding-phone: var(--space-3);
  --page-padding-tablet: var(--space-4);
  --page-padding-notebook: var(--space-5);

  // Target Size
  --tap-min-size: 48px;

  // Box-Shadows ////////////////////
  --box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);
  --box-shadow-dark: 0 0 10px rgb(0 0 0 / 20%);

  // Border /////////////////////////

  --border-radius-flat: 0;
  --border-radius-small: 0.125rem;
  --border-radius-regular: 30px;
  --border-radius-pill: 100px;
  --border-radius-circle: 100%;

  --border-radius-default: var(--border-radius-regular);
  --border-radius-button: var(--border-radius-regular);

  // Width
  --border-width-0: 1px;
  --border-width-1: 2px;
  --border-width-2: 3px;

  // Grid ///////////////////////////

  // Gaps
  --grid-gap-0: var(--space-3);
  --grid-gap-1: var(--space-4);
  --grid-gap-2: var(--space-5);

  // Breakpoints
  --breakpoint-phone: 320px;
  --breakpoint-phonemid: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-notebook: 1280px;
  --breakpoint-desktop: 1440px;

  // Container
  --container-width: 1380px;
}

// Avoids double scroll issue on the page when overlay is open
#layout.no-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.display-mobile {
  @include media(">=notebook") {
    display: none;
    visibility: hidden;
  }
}

.hidden-mobile {
  @include media("<notebook") {
    display: none;
    visibility: hidden;
  }
}
