@import "src/styles/scaffold";

.category-banner {
  margin-top: 0;
  margin-bottom: 0;
}

.category-banner [data-store-banner] {
  max-width: 1440px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  @include media("<tablet") {
    display: none;
  }
}
