[data-store-skeleton-element] {
  width: 100%;

  &[data-shimmer="true"] {
    position: relative;
    overflow: hidden;
  }

  [data-skeleton-element-content] {
    overflow: hidden;
    background: var(--bg-skeleton-loading);
    border-radius: var(--border-radius-default);

    &[data-element-variant="text"] {
      width: 100%;
      height: var(--space-4);
    }

    &[data-element-variant="button"] {
      column-gap: var(--space-2);
      width: var(--space-13);
      min-height: var(--space-5);
      border-radius: var(--border-radius-button);
    }

    &[data-element-variant="image"] {
      border-radius: var(--border-radius-default);
    }

    &[data-element-variant="badge"] {
      width: var(--space-7);
      min-width: 0;
      height: var(--space-7);
      min-height: 0;
      margin-left: auto;
      border-radius: var(--border-radius-circle);
    }

    &[data-element-variant="full"] {
      width: 100%;
      border-radius: 0;

      @include media(">=notebook") {
        padding-top: 55%;
      }

      @include media("<notebook") {
        height: 459.77px;
      }

      @include media("<tablet") {
        height: 343.64px;
      }
    }
  }
}
