@import "src/styles/scaffold";

.main-menu {
  // -- Variables --
  --base-link-color: var(--color-neutral-8);
  --lvl-0-background: var(--bg-body);
  --lvl-0-padding: 0 var(--page-padding-notebook);
  --lvl-0-z-index: var(--z-index-layer-1);
  --lvl-1-title-color: var(--color-primary-3);

  display: flex;
  flex-direction: row;
  width: 100%;

  [data-store-link],
  [data-store-link]:visited {
    padding: 22px 32px;
    color: var(--base-link-color);
  }

  .main-menu-item-link {
    display: block;
  }
}

// --- Lvl-0 ---
.main-menu-item-childrenContainer-lvl-0 {
  position: absolute;
  z-index: var(--lvl-0-z-index);
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;

  &.main-menu-item-childrenContainer-active {
    top: 100%;
    right: 0;
    left: 0;
    max-height: 100vh;
    padding: var(--lvl-0-padding);
    overflow: auto;
    background: var(--lvl-0-background);
  }

  .main-menu-item-children-items-wrapper-lvl-0 {
    display: flex;
    flex-direction: row;
  }
}

// --- Lvl-01 ---
.main-menu-item-container-lvl-1 {
  .main-menu-item-link-lvl-1 {
    color: var(--lvl-1-title-color);
  }
}
