@import "./ScannerProduct/scanner-product.scss";
@import "./ScannerButton/scanner-button.scss";

.scanner-results {
  padding: var(--space-6) 0;

  @include media("<tablet") {
    padding: var(--space-4) 0;
  }

  &__wrapper {
    @include media(">=notebook") {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }

  &__title {
    margin-bottom: var(--space-4);
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-bold);
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    @include media("<notebook") {
      text-align: center;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: var(--space-5);
    margin-bottom: var(--space-7);

    @include media("<notebook") {
      justify-content: center;
    }

    @include media("<tablet") {
      gap: var(--space-3);
    }

    @include media("<phonelg") {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
