.newsletter-title {
  font-size: var(--text-size-2);
  font-weight: var(--text-weight-bold);
  color: var(--color-text);
}

.newsletter-email-input-container {
  position: relative;
}

.newsletter-email-input {
  width: 100%;
  padding: 16px 0;
  font-size: var(--text-size-2);
  color: var(--color-text);
  background: transparent;
  border: 0;
  border-bottom: 1px solid #b3b0b8;

  &::placeholder {
    font-size: var(--text-size-2);
    color: var(--color-text);
  }
}

.newsletter-submit-btn {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: transparent;
  border: 0;
}
