.incentives {
  padding: var(--space-3) 0;
  background-color: var(--color-neutral-1);

  .container {
    @include media("<notebook") {
      padding: 0;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media("<notebook") {
      padding: 0 var(--space-3);
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      @include media("<notebook") {
        margin-right: var(--space-6);
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-12);
    height: var(--space-12);
    margin-right: var(--space-3);
    background-color: var(--color-secondary-0);
    border-radius: var(--border-radius-circle);
  }

  &__title {
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-bold);
    line-height: 1.4;
    color: var(--color-neutral-7);
    white-space: nowrap;
  }

  &__text {
    color: var(--color-neutral-6);
    white-space: nowrap;
  }
}
