.incentives {
  padding: var(--space-3) 0;
  background-color: var(--color-neutral-1);

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-12);
    height: var(--space-12);
    margin-right: var(--space-3);
    background-color: var(--color-secondary-0);
    border-radius: var(--border-radius-circle);
  }

  &__title {
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-bold);
    line-height: 1.4;
    color: var(--color-neutral-7);
  }

  &__text {
    color: var(--color-neutral-6);
  }
}
