@import "src/styles/scaffold";

.footer {
  background-color: var(--bg-neutral-light);
  content-visibility: auto;
  contain-intrinsic-size: rem(860px);

  @include media(">=notebook") {
    contain-intrinsic-size: rem(546px);
  }
}

.footer__note,
.footer__section {
  position: relative;
  display: flex;

  @include media("<notebook") {
    flex-direction: column;
  }

  @include media(">=notebook") {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gap-1);
  }

  &::before {
    width: 100%;
    content: "";
    border-top: 1px solid var(--color-border-display);

    @include media(">=notebook") {
      grid-column: span 12;
    }
  }
}

.footer__logo {
  .store-description {
    max-width: 267px;
    margin: var(--space-2) 0;
    font-size: var(--text-size-2);
    color: var(--color-neutral-8);

    @include media("<notebook") {
      flex-direction: column;
      padding: 0;
    }
  }
}

.footer__top-section {
  display: flex;
  justify-content: space-between;
  padding: var(--space-5) 0;

  @include media("<notebook") {
    flex-direction: column;
    padding: 0;
    padding-top: var(--space-5);
  }

  .title-sub-subsection {
    margin: var(--space-1) 0;
  }

  .title-sub-subsection.highlight {
    padding: var(--space-3) 0;
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-bold);
  }

  [data-store-list] {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-2);

    [data-store-icon] {
      display: flex;
      align-items: center;
    }

    [data-store-link] {
      display: inline-block;
      padding-left: 0;
      color: var(--color-neutral-8);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:active,
      &:visited,
      &:link {
        color: var(--color-neutral-8);
      }

      &.highlight {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--color-secondary-3);
      }
    }
  }

  [data-store-icon] [data-icon] {
    display: none;
  }

  [data-store-icon] [data-icon="expanded"] {
    display: initial;
    transform: rotate(180deg);
  }

  [data-store-icon] [data-icon="collapsed"] {
    display: initial;
  }
}

.footer__links-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .title-sub-subsection {
    margin-bottom: var(--space-1);
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;

  @include media("<notebook") {
    flex-direction: column;
    max-width: unset;
    margin: var(--space-2) 0;
  }

  .title-sub-subsection {
    text-align: center;

    @include media(">=notebook") {
      text-align: left;
    }
  }

  [data-store-list] {
    display: flex;
    flex-direction: row;
    margin-top: var(--space-1);

    @include media(">=notebook") {
      margin-top: var(--space-2);
    }

    [data-store-link] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--space-5);
      height: var(--space-5);
      padding: 0;
      margin-right: var(--space-2);
      border: var(--border-width-0) solid var(--color-neutral-6);
      border-radius: var(--border-radius-circle);

      [data-store-icon] {
        display: flex;
      }
    }
  }
}

.footer__note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-5) var(--space-7);
  border-top: var(--border-width-0) solid var(--color-neutral-10);

  @include media("<notebook") {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-3) var(--space-5);
    text-align: center;

    &::before {
      padding-bottom: var(--space-4);
    }
  }

  [data-store-payment-methods] {
    @include media("<=notebook") {
      margin-bottom: var(--space-2);
    }
  }

  [data-payment-methods-flags] {
    [data-store-list] {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .footer__payment-list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--space-5);
        height: var(--space-4);
        margin-right: var(--space-3);
        background-color: var(--color-neutral-0);

        @include media("<=notebook") {
          margin-bottom: var(--space-1);
        }
      }
    }
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-size: var(--text-size-0);
  color: var(--color-neutral-11);
  opacity: var(--text-opacity-0);

  @include media(">=notebook") {
    .text-body-small {
      font-size: var(--text-size-0);
    }
  }
}

.footer__water-mark {
  display: flex;
  align-items: center;
  opacity: var(--text-opacity-0);

  @include media("<notebook") {
    margin-top: var(--space-1);
  }

  .water-mark-text {
    margin: 0 var(--space-1);
    font-size: var(--text-size-0);
    color: var(--color-neutral-11);
  }
}
