@import "src/styles/scaffold";

.footer {
  background-color: var(--bg-neutral-light);
  content-visibility: auto;
  contain-intrinsic-size: rem(860px);

  @include media(">=notebook") {
    contain-intrinsic-size: rem(546px);
  }
}

.footer__logo {
  flex: 1;

  .store-description {
    max-width: 90%;
    margin-top: var(--space-2);
    font-size: var(--text-size-2);
    color: var(--color-neutral-8);
  }
}

.footer__top-section {
  display: flex;
  justify-content: center;
  padding: var(--space-5) 0;

  @include media("<notebook") {
    flex-direction: column;
    padding: 0;
    padding-top: var(--space-5);
  }
}

.footer__links {
  flex: 2;

  .title-sub-subsection.highlight {
    padding: var(--space-3) 0;
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-bold);
  }

  [data-store-list] {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-2);
  }

  .links-list-item {
    display: inline-flex;
    align-items: center;

    [data-store-icon] {
      display: flex;
      align-items: center;
    }
  }

  [data-store-link] {
    display: inline-block;
    padding-left: 0;
    color: var(--color-neutral-8);
    text-decoration: none;

    &:active,
    &:visited,
    &:link {
      color: var(--color-neutral-8);
    }

    &.highlight {
      color: var(--color-secondary-3);
    }
  }

  @include media(">=notebook") {
    grid-column: span 8;
  }

  [data-store-icon] [data-icon] {
    display: none;
  }

  [data-store-icon] [data-icon="expanded"] {
    display: initial;
    transform: rotate(180deg);
  }

  [data-store-icon] [data-icon="collapsed"] {
    display: initial;
  }
}

.footer__links-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .title-sub-subsection {
    margin-bottom: var(--space-1);
  }
}

.footer__social {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include media("<notebook") {
    flex-direction: column;
    margin: var(--space-2) 0;
  }

  .title-sub-subsection {
    text-align: center;

    @include media(">=notebook") {
      text-align: left;
    }
  }

  [data-store-list] {
    display: flex;
    margin-top: var(--space-1);

    @include media(">=notebook") {
      margin-top: var(--space-2);
    }

    [data-store-link] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--space-5);
      height: var(--space-5);
      margin-right: var(--space-2);
      border: var(--border-width-0) solid var(--color-neutral-6);
      border-radius: var(--border-radius-circle);

      [data-store-icon] {
        display: flex;
      }
    }
  }
}

.footer__note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-5) var(--space-7);
  border-top: var(--border-width-0) solid var(--color-neutral-10);

  @include media("<notebook") {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    &::before {
      padding-bottom: var(--space-4);
    }
  }

  [data-store-payment-methods] {
    @include media("<=notebook") {
      margin-bottom: var(--space-2);
    }
  }

  [data-payment-methods-flags] {
    [data-store-list] {
      display: flex;

      .footer__payment-list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--space-5);
        height: var(--space-4);
        margin-right: var(--space-3);
        background-color: var(--color-neutral-0);
      }
    }
  }
}

.footer__copyright {
  font-size: var(--text-size-0);
  color: var(--color-neutral-11);
  opacity: var(--text-opacity-0);

  @include media(">=notebook") {
    grid-column: span 6;

    .text-body-small {
      font-size: var(--text-size-0);
    }
  }
}

.footer__water-mark {
  display: flex;
  align-items: center;
  opacity: var(--text-opacity-0);

  @include media("<notebook") {
    margin-top: var(--space-1);
  }

  .water-mark-text {
    margin: 0 var(--space-1);
    font-size: var(--text-size-0);
    color: var(--color-neutral-11);
  }
}
